*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background-color: #621402;
    font-family: 'Oswald', sans-serif;
    color: #fff
}
.container{
    max-width: 1170px;
    margin: auto;
}
.header{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('/img/bg.jpg') no-repeat center top / cover;
}
.navbar{
    padding: 30px 0;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
}
.menu{
    margin: 0;
    padding-left: 57px;
    list-style: none;
    display: flex;
}
.menu-item{
    margin-right: 25px;
}
.menu-link{
    text-decoration: none;
}
.menu-link:hover,
.menu-link:visited,
.menu-link:active{
    color: #fff
}
.user{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.user-name{
    margin-right: 12px;
}
.avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.film{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.original-film-title{
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}
.film-title{
    font-size: 36px;
    line-height: 42px;
    margin-top: 12px;
    margin-bottom: 24px;
}
.film-description{
    font-size: 16px;
    line-height: 150%;
    max-width: 560px;
}
.film-trailer{
    margin: auto;
}
.film-details{
    display: flex;
    align-items: center;
}
.time{
  display: flex; 
  align-items: center;
}
.time-icon{
    width: 20px;
    height: 20px;
    margin-right: 14px;
}
.time-counter{
    font-size: 16px;
    line-height: 150%;
}
.rating{
    display: flex;
    align-items: center;
    margin-left: 34px;
}
.rating-icon{
    width: 35px;
    height: 17.5px;
    margin-right: 12px;
}
.rating-counter{
    font-size: 16px;
    line-height: 150%;
}
.reting-current{
    font-size: 24px;
    line-height: 150%;
}
.session{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:60px;
    padding: 46px 0 64px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.session-label{
    font-size: 16px;
    line-height: 19px;
}
.session-date-block{
    display: flex;
}
.session-date-block .active, 
.session-date-item:hover{
    background: #FE8E05;
    color: #621402;
}
.session-date-item{
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 15px;
    transition: background-color 0.5s;
    cursor: pointer;
}
.session-date-item:nth-last-child(){
    margin-right: 0;
}
.session-month{
    font-size: 16px;
    line-height: 19px;
}
.session-day{
    font-size: 30px;
    line-height: 35px;
}
.session-week{
    font-size: 19px;
    line-height: 22px;
}
.session-select{
    margin-top: 32px;
    padding: 18px;
    display: flex;    
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
}

.session-select option{
    color: #000;
}
.session-select-cinema{
    min-width: 470px;
}